
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black; 
}
body::-webkit-scrollbar {
  display: none;
}
h1 { 
  color: white; 
}

ul {
  margin: 0px 50;
    line-height: 3;
  font-size: 28px;
  
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "";
  text-indent: -5px;
}

a:link{
    color:white; 
    text-decoration: none;
}
a:visited {
    color: white; 
}
a:hover{
    color: white;
}
a:active{
    color: white; 
}
br {
    line-height: 100%;
}
footer{
    bottom: 2px;
    height: 40px; 
    margin-top: 40px; 
    text-align: center; 
    vertical-align: middle;
    position: fixed;
    width: 100%; 

}

.p1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white; 
}
